
/** Structure de la page **/
html, body {
  background: none repeat scroll 0 0 #FCFAF7;
  margin-bottom: 40px;
}

h1 {
    font-size: 16px !important;
    font-style: italic !important;
    text-align: center !important;
    text-decoration:underline !important;
    color: #666666 !important;
    font-weight: bold !important;
    text-shadow: 1px 1px 1px #FFFFFF !important;
}

#header {
    height: 100px;
    padding: 0;
    position: relative;
}

#header_banniere {
    background-color: #F2EDE7;
    border: 1px solid #CCCCCC;
    height: 20px;
    left: 0;
    margin-top: 10px;
    width: 100%;
}

.wrapper {
    box-shadow: 0 1px 10px #8A7E6B;
    height: auto;
    margin-bottom: 20px;
    min-height: 600px;
    overflow-x: hidden;
    overflow-y: visible;
    width: 970px;
    margin: 0 auto;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px;
}

#content {
    color: #38332C;
    font-family: Arial;
    font-size: 0.95em;
}

#logo {
    box-shadow: 1px 1px 12px #555555;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    position: absolute;
    z-index: 10;
}

a:visited, a {
    color: #1E52A1;
}

#logo img {
    border: medium none;
}

#banniere {
    float: right;
}

#title_page {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    margin-left: 17%;
    padding: 20px 20px;
    text-shadow: 3px 3px 4px #3D3936;
    width: 100%;
    background-color: #F6F6F6;
}

#toolbar {
    background: -moz-linear-gradient(center top , #D3D1CF 0%, #F7F7F7 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    height: 35px;
}

#toolbar ul {
    float: left;
    margin: 0 0 0 30%;
    padding: 0.6em;
}

ul#menu li:first-child {
    margin-left: 0;
}

ul#menu li {
    display: inline;
    list-style: none outside none;
    margin-left: 0;
    padding-right: 15px;
}

ul#menu li a {
    color: #666666;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.tableCours {
  float: left;
  margin-top: 80px;
}

.tableCours th {
  border-right: 1px solid #DDDDDD;
  background-color: #F7FDFF;
  width: 25%;
}



#footer {
    color: #75726F;
    left: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.spider {
    min-width: 400px;
    max-width: 600px;
    height: 250px;
    margin: 0 auto;
}

.btnDetailsCours {
    float: right;
    margin-right: 50px;
}

.descriptionCours {
    font-style: italic;
    font-size: 12px;
    color: #BBBEBF;
    font-weight: normal;
    text-align: justify;
    padding: 3px;
}

.titreCours {
    padding: 5px;
    color: #39B3D7;
}